@use "./reset" as *;
@use "./variables" as *;

html {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

input,
button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 1.2rem;
}

.chat {
  background-color: oldlace;
  margin: 20px;
  padding: 20px;
  max-width: 1180px;
  border-radius: $rounding;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__messages {
    width: 100%;
    width: 800px;
    min-height: 300px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: left;
    display: flex;
    flex-flow: column;
    gap: 1.2rem;
  }

  &__form {
    margin-top: 1rem;
    display: flex;
    gap: 10px;
    height: 2.4rem;
    align-self: center;

    &__input {
      font-size: $font-standard-size;
      padding-left: 0.5em;
      width: 350px;
      border-radius: $rounding;

      &:focus {
        outline: 3px solid $color-primary;
      }
    }

    &__btn {
      cursor: pointer;
      background-color: $color-primary;
      font-size: $font-standard-size;
      font-weight: 500;
      letter-spacing: 0.03em;
      padding-left: 1em;
      padding-right: 1em;
      border-radius: $rounding;

      &:hover,
      &:focus {
        filter: brightness(1.1);
        border-style: outset;
      }

      &:active {
        border-style: inset;
        filter: brightness(0.95);
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
  }
}
